<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstSuite" verbose="10">
    <listeners>
        <listener class-name="utilities.TestListener"/>
    </listeners>

    <parameter name="browser" value="chrome"/>
    <parameter name="username" value="nhidinh"/>
    <parameter name="encodedPassword" value="UDRhc3N3MHJkMSE=" />

    <test name="Login Test - Login Successfully" enabled="true">
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="LoginSuccessfully"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Login Test - Invalid Login Test" enabled="true">
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="LoginUnsuccessfully"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Login Test - Test Login With ExcelDataFile" enabled="true">
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="LoginTestWithDataFile"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Add New Post Test" enabled="true">
        <classes>
            <class name="tests.PostTests">
                <methods>
                    <include name="CreateANewPost"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Add New Post Test With Gallery" enabled="true">
        <classes>
            <class name="tests.PostTests">
                <methods>
                    <include name="CreateNewPostWithGallery"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Add New Post Test With Media" preserve-order="true" enabled="true">
        <classes>
            <class name="tests.PostTests">
                <methods>
                    <include name="CreateNewPostWithMedia"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Delete a post Test" enabled="true">
        <classes>
            <class name="tests.DeletePostTests"/>
        </classes>
    </test>

    <test name="Test with Test Steps" preserve-order="true" enabled="true">
        <classes>
            <class name="tests.DeletePostTests">
                <methods>
                    <include name="LoginStep"/>
                    <include name="CreateANewPostStep"/>
                    <include name="DeleteTheAddedPost"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Test Upload Files" enabled="true">
        <classes>
            <class name="tests.MediaTests"/>
        </classes>
    </test>
</suite>